<div class="contents">
  <div class="container align-self-center">
    <h3></h3>
    <div class="set-goalform">
      <%= render partial: "form", locals: { mission: @mission } %>
    </div>
        <div class="pokopoko"></div>
        <div class="pokopoko2"></div>
  </div>
</div>