body {
  background-color: white;
}
a{
  text-decoration: none;
}
nav{
  font-family: 'Poppins', sans-serif;
 
}

.top{
  font-family: 'Poppins', sans-serif;
}

.mission_user_name{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid lightblue;
  text-align: center;
}
.missions{
}

/*以下navbar*/
.navlist{
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
}
/*以上navbar*/

/* 以下マイページ */
.users{
  background-color: #D7EEFF	;
}
.mypage-title{
  font-family: 'Poppins', sans-serif;
}
.sannno{
  font-size: 20px;
}
.mypage{
 
}
.btn-btn{


}

/* 以上マイページ */