
     <button type="button" class="btn btn-outline-warning">
            <% if @mylevel == nil %>
              <%= link_to "Lv.0", "/users/#{@userid}", class: "navbar-brand"%>
            <% else %>
              <%= link_to "Lv.#{@mylevel}", "/users/#{@userid}", class: "navbar-brand"%>
            <% end %>
            <%= link_to (@name), "/users/#{@userid}", class: "navbar-brand"%>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
     </button>

