
<div>
  <div class="mb-3">
    <h1 class="top">Mission List</h1>
  </div>

<div class="row">
   <% unless user_signed_in? %>
   <% else %>
     <div class="col-sm-10">
        <%= link_to 'missionを設定', new_mission_path, class: "btn btn-primary" %>
               <%= link_to "マイページ", "/users/#{current_user.id}", class: "btn btn-primary"%>

     </div>
     <div class="col-sm-2">
     </div>
     <% end %>
</div>
  
  <div class="missions float-right " >
   <div class="row">

        <%= render partial: "mission", collection: @missions %>

  </div>
</div>
</div>

